:root{
    --global-bg-color: rgb(4, 9, 12);
    --container-bg-color: rgb(22, 27, 37);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body, html {
    background-color: var(--global-bg-color);
    width: 100%;
    height: 100%;
    min-width: min-content;
    font-family: "Source Sans Pro", sans-serif;
}
/* =========== CONTAINERS ===========*/
div#main {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.container {
    min-width: min-content;
    width: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--container-bg-color);
    padding: 10px; 
}

.statue-item {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    position: relative;
    align-items: flex-end;
    flex-basis: 0;
}


/* =========== THUMBNAILS ===========*/
img#counter-thumbnail, img#total-thumbnail, .statue-item-thumbnail{
    position: relative;
    z-index: 2;
    width: 8vw;
    min-width: 50px;
    height: auto;
}

/* =========== INPUTS ============*/
input#total, .amount{
    /*taille*/
    height: 87.5%;
    min-width: 100px;
    width: 100%;
    padding-left: 10px;

    /*position*/
    position: relative;
    z-index: 1;

    /*border*/
    border-radius: 10px;
    border-width: 0;
}

input#total,#total::placeholder {
    color: white;
}

div#nav {
    position: relative;
    display: inline-flex;
    align-self: center;
    justify-content: center;
    width: 100%;
    height: 5vh;
    top:0;
    column-gap: 10px;
    margin-bottom: 10px;
}

div.btn-wrapper{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}

div.btn-wrapper:hover{
    cursor: pointer;
}

div.btn{
    display: block;
    position: relative;
    z-index: 1;

}

div.btn-background{
    border-radius: 10px;
    display: block;
    position: absolute;
    z-index: 0;
    background-color: aquamarine;
    height: 100%;
    width: 100%;
}

span.title{
    color: white;
    display: flex;
    text-align: center;
    font-size: 1.2rem;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 2rem;
    position: relative;
    margin-top: 10px;
}

span.title img{
    margin: 0 14px;
}

/* TODO - Faire le menu nav du coté
        - Terminer le css de awakenscalc
        - Faire tout le responsive
        - Faire le js
*/