:root {
    --image-width: 80px;
    --input-height: 56px;
    --input-width: 300px;
    --zenis-font: 40px;
    --input-font: 70px;
    --image-height: 69.96197718634px;
}

body {
    min-height: var(--min-height);
    min-width: 100vh;
    margin: 0;
    overflow: hidden;
}

div#main {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

ol {
    position: absolute;
    list-style-type: none;
    padding: 10px;
    background-color: whitesmoke;
    z-index: 0;

}


li {
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: space-between;
    display: flex;
    position: relative;
    align-items: flex-end;
}

/* hauteur * 1.143478260869 = largeur*/
li img {
    position: relative;
    z-index: 2;
    width: var(--image-width);
}
li img:not(#zenipng){
    height: var(--image-height);
}

li input {
    position: relative;
    z-index: 1;
    /*height: img width / 1,4285714285714285714285714285714*/
    height: var(--input-height);
    width: var(--input-width);
    border-radius: 20px;
    border-style: black;
    font-size: var(--input-font);
}

input#zenis {
    font-size: var(--zenis-font);
}